<!DOCTYPE html>
<html lang="en">

{% extends 'startbase.html' %}
{% load static %}
{% block body %}

<div style="text-align: center; margin-left: auto; margin-right: auto; border-radius: 20px ;margin-top: 90px; width: 50%; background-color: white; height: 420px; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
<form style="padding: 20px 10px 20px 10px; min-width: 60%; text-align: center" method="post">
    {% csrf_token %}
  <div class="form-group">
      <header style="font-weight: bold; font-size: 20px; margin-top: 20px; margin-bottom: 30px"> Logg inn </header>
    <label for="username" style="text-align: left"> Brukernavn
    <input type="username" name="username" class="form-control" id="username" aria-describedby="emailHelp" placeholder="Skriv inn brukernavn" style="width: 200px">
        </label>
  </div>
  <div class="form-group">
    <label style="text-align: left" > Passord
    <div style="text-align: center"><input name="password" type="password" class="form-control" id="exampleInputPassword1" placeholder="Skriv inn passord" style="width: 200px"></div>
    </label>
  </div>

  <button type="submit" class="btn btn-primary" href="/"> Logg inn </button>
  <small class="text-muted ml-2">
    <a href="{% url 'password_reset' %}">Glemt passord</a>
  </small>
</form>
</div>

{% endblock %}
</html>
