<!DOCTYPE html>
{% load static%}
<html lang="en" xmlns:margin-left="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Rød tråd</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" id="theme" href="{% static 'css/theme.css' %}">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="../static/css/base.css">

</head>

<body>


<nav class="navbar fixed-top navbar-expand-lg bg-light navbar-light" >
  <!-- Brand -->
  <a class="" href="{% url 'startpage' %}"><img src="{% static 'img/knitting.png' %}" width="40" height="40"></a>

  <!-- Toggler/collapsibe Button -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar" >
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- Navbar links -->
  <div class="collapse navbar-collapse" id="collapsibleNavbar" >
    <ul class="navbar-nav mr-auto" >
      <li class="nav-item">
        <a class="nav-link nav-link-light" href="{% url 'startpage' %}" style="font-weight: bold">Rød tråd</a>
      <li class="nav-item" >
        <a class="nav-link" href="{% url 'challenges' %}" > Utfordringer </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'events' %}" > Arrangement </a>
      </li>
        <li class="nav-item" >
        <a class="nav-link" href="#" >Søk</a>
      </li>
        <!-- Search form -->
    <div class="md-form mt-0" >
        <form method="get" action="{% url 'search_results' %}" >
        <input class="form-control"  type="text" placeholder="Søk etter bruker" aria-label="Search" name="q">
    </form>
    </div>


      </li>

    </ul>
      <ul class="navbar-nav">
      <li class="nav-item">
          <a class="nav-link" href="{% url 'newevent' %}"> Nytt arrangement</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'postpage' %}"> Nytt innlegg </a>
      </li>

      </ul>
      <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="{% url 'myprofile' user.pk %}">Min profil</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'index' %}">Logg ut </a>
      </li>
      </ul>
  </div>
</nav>
<div class="col-md-8">
  {% if messages %}
    {% for message in messages %}
  <div class="alert alert-{{message.tags}}">
    {{ message }}
  </div>
    {% endfor %}
  {% endif %}
</div>
{% block body %}
{% endblock body %}

</div>
<script src="{% static 'js/theme.js' %}"> </script>

</body>
</html>