{% extends 'base.html' %}
{% load static %}
{% load alignChallange %}
{% block body %}
{% for post in challengeposts %}
<br><br>
<div style="padding-right:30px; padding-left: 30px; padding-top: 30px">
<div style="border-radius: 20px ;margin-top: 20px; max-width: 800px; width: auto; margin-left: auto; margin-right: auto; background-color: white; max-height: fit-content; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">

    <div style="text-align: center">
        <label style="text-align: left">
        <div style="display: block; text-align: center; margin-top: 20px">{{ post.post_owner }}<br><br></div>
        <label style="text-align: left">
        <figure>
            <img style="max-width:88%; max-height: 420px; display: block; margin-right: auto; margin-left: auto" src="{{ post.image.url }}">
            <figcaption style="max-width: 88%; margin-right: auto; margin-left: auto"> {{ post.text }} </figcaption>
        </figure>
        </label> <br>
    </div>

{% if privateperson %}
    <div style="text-align: center; ">
    <a type="submit" href="{% url 'alignChallange'  post.pk %}" class="btn btn-outline-info" style="margin-bottom: 20px"> Ta utfordringen </a>
    </div>
{% endif %}
</div>
</div>
        <br>
    {% endfor %}
{% endblock %}