{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block body %}

<div style="padding-left: 30px; padding-right: 30px">
<div style="border-radius: 20px; margin-top: 90px; min-width: fit-content; max-width: 600px; text-align: center; margin-right: auto; margin-left: auto; background-color: white; height: 400px; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
<form style="margin-top: 40px">
{% csrf_token %}
<h2> Ny utfording </h2>
    <div class="custom-file" style="margin-left: 5%; margin-right: 20%; width: 60%">
<form method="post" enctype="multipart/form-data" action="{% url 'companypost' %}">
    {{ form }}
    <button type="submit"> Last opp </button>
</form>
</form>
</div>
</div>
</div>
{% endblock %}