{% extends 'myprofile.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block body %}

<div style="padding-top: 50px">
<div style="border-radius: 20px ;margin-top: 50px; margin-left: auto; margin-right: auto; min-width: fit-content ;max-width: 60%; background-color: white;max-height: fit-content; height: 460px; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">

<form method="post" action="{% url 'editprofile' %}" enctype="multipart/form-data"  style="  padding: 20px">
    {% csrf_token %}
<h4 style="text-align: center;"> Rediger profilen din </h4>
    <div style="text-align: center; margin-top: 10px"><label style="text-align: left">  Navn <br> {{form.name}} </label></div>
    <div style="text-align: center; margin-top: 10px"> <label style="text-align: left"> Profilbilde <br>{{form.profilePicture}} </label></div>

    {% if is_privateperson %}
        <div style="text-align: center; margin-top: 10px"><label style="text-align: left"> Skriv litt om deg selv: <br> {{ form.about }} </label></div>
    {% else %}
        <div style="text-align: center"><label style="text-align: left"> Skriv litt om bedriften: <br>{{ form.about }} </label></div>
    {% endif %}


<div style="text-align: center; margin-top: 10px"><button  value="submit" class="btn btn-outline-info"> Lagre </button></div>
</form>
</div>
</div>
{% endblock %}
