{% extends 'base.html' %}
{% load static %}
{% load get_number_interested %}
{% load get_if_interested %}
{% block body %}

{% for post in eventposts %}
<br><br>
<div style=" padding-left: 30px; padding-right: 30px;">
<div style="text-align: center; margin-left: auto; margin-right: auto; border-radius: 20px; margin-top: 40px; max-width: 600px; width: auto; background-color: white; max-height: fit-content; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
<form style="">
    <div style="margin-left: auto; margin-right: auto; padding-top: 10px;">
        <div style=" text-align: right; margin-right: 10px"> {{ post.time }}  </div>
        <div style=" text-align: left; margin-top: -25px; margin-left: 10px ">{{ post.post_owner }}<br><br></div>
    </div>

<div style="display: block; max-width: 60%; margin-right: auto; margin-left: auto ">{{ post.text }} </div> <br>
<div style="text-align: left; padding-bottom: 10px">
    {% if request.user|get_if_interested:post.pk %}
        <a class="btn btn-outline-info" href="{% url 'notInterested' post.pk %} " style="width:fit-content;  margin-left: 10px"> Ikke interessert  </a>
            <img style="width: 7%" img src="{% static 'img/star2.png' %}">
    {% else %}
        <a class="btn btn-outline-info" href="{% url 'interested' post.pk %} " style="width:fit-content; text-align: left; margin-left: 10px"> Interessert  </a>
            <img style="width: 7%" img src="{% static 'img/star.png' %}">
    {% endif %}

{{ post.pk|get_number_interested }}
</div>
</form>
</div>
</div>
{% endfor %}
{% endblock %}