{% extends 'startbase.html' %}
{% load static %}
{% block body %}
<div style="padding-top: 150px">
<h1 style="font-size:300%; font-weight: bold; position: absolute; margin-left: 10%; ">Rød tråd</h1>
<p style="font-size:150%; position: absolute; margin-left:10%; margin-top: 5%"><br><br> Registrer ny bruker <br> eller logg inn for å se <br> utfordringer og innhold <br> fra andre brukere </p>
<img src="{% static 'img/profil.png' %}" alt="" style=" width: 38%; margin-left: 45%; margin-top: 12%; transform: translateY(-50%) rotate(-10deg);">
</div>
{% endblock %}
