{% extends 'base.html' %}
{% load static %}
{% block body %}

<div style=" align-content: center; padding: 30px 50px 30px 50px">
<div style="align-content: center; border-radius: 20px ; max-width: 800px; width: auto; margin-top: 50px; margin-left: auto; margin-right: auto; background-color: white; max-height: fit-content; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">

<div class="container">

    <p style="margin-left: 30%; padding-top: 30px; margin-bottom: 20px;font-size: x-large; "> {{ profile.name }} <br></p>

 {% if profile.profilePicture %}
    {% if profile.profilePicture.url == 'img/profilepic.png' %}
        <img src="{% static 'img/profilepic.png' %} " style="width:15%; margin-top: -60px; margin-left: -55%; align-items: start">
    {% else %}
        <img src="{{profile.profilePicture.url}}" style="max-width:20%; max-height: 20%; margin-top: -60px; margin-left: 5%; align-items: start">
    {% endif %}
{% else %}
        <img src="{% static 'img/profilepic.png' %} " style="min-width: 70px ; max-width: 15%; margin-top: -10vh; margin-left: 5%">
{% endif %}

    <div style="margin-top: -25px">
    <a style="margin-left: 30%; font-family:verdana; font-size:14px; border-bottom: 0.5px solid"> Utfordringer jeg holder på med: </a>
    {% for challenge in challenges %}
    <p style="margin-left:30%; margin-top: 10px "> - {{ challenge.name }}</p>
    {% endfor %}
    </div>
    <div style="margin-left: 5%; margin-top: 20px;"><p style="border-bottom: 0.5px solid; "> Litt om meg:</p> {{ profile.about }}</div>

{% if user.pk == personalkey %}
    <div style="text-align: center">
    <a href="{% url 'editprofile' %}" class="btn btn-outline-info" style="width: 50%; margin-top: 80px;font-size: 15px; "> Rediger profil </a> <br>
    <a  id="darkmodeKnapp" class="btn btn-outline-info" onmouseover= "style='color:white; width: 50%; margin-top: 20px;'" onmouseout= "style='color:#17a2b8; width: 50%; margin-top: 20px;'" style=" color: #17a2b8 ; width: 50%; margin-top: 20px;font-size: 15px; "> Darkmode </a>
    <br><br>
    </div>
{% else %}
    <br>
{% endif %}
</div>
</div>
</div>

    {% for post in posts %}
<br><br>
    <div style="text-align: center">
    <div style="border-radius: 20px ;margin-top: 20px; max-width: 800px; width: auto; margin-left: auto; margin-right: auto; background-color: white; max-height: fit-content; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
    <div style="display: block; margin-left: auto; margin-right: auto; padding-top: 30px;">
        {% if user.pk == personalkey %}
        <a style="margin-left:80%; margin-top: -20px"  class="btn btn-outline-info" href="{% url 'deletepost' post.pk %}"> Slett innlegg</a>
        {% endif %}
        <label style="text-align: center">{{ post.post_owner }}<br>
        <figure style="display: table">
            <img style="max-width:100%; max-height: 420px; display: block; margin-right: auto; margin-left: auto; " src="{{ post.image.url }}">
            <figcaption style="text-align:left; display: table-caption; caption-side: bottom;margin: auto; margin-right: auto;">
                {{ post.text }} <br><br>
            </figcaption>
        </figure>
        </label>
    </div>
    </div>
    </div>
    {% endfor %}

<script>
    let darkModeKnapp = document.querySelector('#darkmodeKnapp')
    darkModeKnapp.addEventListener('click', evt => {
        let theme = localStorage.getItem('theme')
        theme = theme ? theme : 'light';

        if (theme =='light') {
            theme = 'dark'
            evt.target.innerHTML = 'Lightmode'
        } else  {
            theme = 'light'
            evt.target.innerHTML = 'Darkmode'
        }

        localStorage.setItem('theme', theme)
        changeTheme()

    })
</script>

{% endblock %}
