{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block body %}

<div style=" padding-left: 30px; padding-right: 30px;">
<div style="border-radius: 20px; margin-top: 90px; min-width: fit-content; max-width: 600px; text-align: center; margin-right: auto; margin-left: auto; background-color: white; height: 400px; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
<form method="post" action="{% url 'newevent' %}" enctype="multipart/form-data" style="text-align: center; padding-top: 20px">

    {% csrf_token %}
<h2> Nytt arrangement <br></h2>
<div style="margin-top: 20px"> Hva vil du arrangere? <br>
    <div style="margin-top: 10px">{{ form.text }} </div><br></div>
<button type="submit" class="btn btn-outline-info" style="margin-top: 30px"> Opprett et nytt arrangement </button>

</form>
</div>
    </div>
{% endblock %}