<!DOCTYPE html>
<html lang="en">

from crispy_forms.bootstrap import HorizontalField

{% extends 'startbase.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block body %}
<div style="border-radius: 20px ;margin-top: 90px;width: 70%; margin-left: 15%; background-color: white; height: 500px; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
<form style="margin-left:30%; padding-top: 30px; margin-right: 30%" method="post">
    {% csrf_token %}
  <div class="form-group">
      <header style="font-weight: bold; font-size: 20px; margin-top: 20px; margin-bottom: 30px; margin-left: 30%"> Tilbakestill Passord </header>
      {{ form|crispy }}
  </div>

  <button type="submit" class="btn btn-outline-info"> Tilbakestill Passord </button>
</form>
</div>
{% endblock %}
</html>
