{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block body %}


<div style=" padding-left: 30px; padding-right: 30px;">
<div style="border-radius: 20px; margin-top: 90px; min-width: fit-content; max-width: 600px; text-align: center; margin-right: auto; margin-left: auto; background-color: white; height: fit-content; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)">
<form method="post" action="{% url 'postpage' %}" enctype="multipart/form-data" style="text-align: center; margin-top: 20px ">
{% csrf_token %}
{% if privateperson %}
    <h2 style="padding-top: 20px"> Nytt innlegg <br></h2>
{% else %}
    <h2 style="padding-top: 20px"> Ny utfordring <br></h2>
    <label style="text-align: left; margin-top: 20px"> Navnet på utfordringen <br>{{ form.name }} </label><br>
{% endif %}

<label style="margin-top: 20px; text-align: left"> Skriv litt om innlegget her <br>{{ form.text }} </label><br>
<label style="text-align: left"> Last opp et bilde <br> {{ form.image }} </label><br>
{% if privateperson %}
    <button type="submit" class="btn btn-outline-info" style="margin-top: 30px"> Publiser innlegg </button>
{% else %}
    <button type="submit" class="btn btn-outline-info" style="margin-top: 30px"> Publiser utfordring </button>
{% endif %}
</form><br>
</div>
</div>

{% endblock %}