{% extends 'startbase.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block body %}

    <div class="content-section">
        <div style="border-radius: 20px ; min-width: fit-content; padding: 20px 40px 20px 40px ; margin-top: 70px; max-width: 60%; margin-bottom: 20px; text-align: center; margin-left: auto; margin-right: auto; background-color: white; max-height: fit-content; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">

            <form method="POST" action="{% url 'register' %}">
            {% csrf_token %}
                <div style="margin-left: 4%; margin-top: 10px; margin-right: 4% " >
            <fieldset class = "form-group" style="text-align: center">
                <header style="font-weight: bold; font-size: 30px; text-align: center"> Bli med i dag!</header> <br>
                <label style="text-align: left"> Brukernavn* <br> <div>{{ form.username }} </div></label> <br>
                <label style="color: grey; font-size: 12px; text-align: left">
                    Kun bokstaver, tall og @/./+/-/_
                </label> <br>
                <label style="text-align: left"> E-post* <br> <div> {{ form.email }} </div> </label> <br>
                <label style="text-align: left"> Passord* <br> <div> {{ form.password1 }} </div> </label> <br>
                <label style="color: grey; font-size: 12px; text-align: left">
                    - Kan ikke inneholde personal info. <br>
                    - Må inneholde minst 8 tegn. <br>
                    - Kan ikke være et vanlig passord. <br>
                    - Må inneholde alfanumeriske tegn.
                </label> <br>
                <label style="text-align: left"> Bekreft passordet* <br> <div> {{ form.password2 }} </div> </label> <br>

  <label for="company" style="margin-bottom: 20px"> Huk av om du er bedrift </label>
                <input type="checkbox" id="company" name="company">
            </fieldset>
            <div class="form-group">
               <div style="text-align: center"> <button class="btn btn-outline-info" type="submit"> Registrer </button></div>
            </div>


            </form>

        </div>

    </div>


{% endblock %}
