{% extends 'base.html' %}
{% load static %}
{% block body %}

<div style="border-radius: 20px ;margin-top: 100px;width: 60%; margin-left: 20%; background-color: white; min-height: 100px; overflow: hidden; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); ">
   <div style="padding-top: 10px ">
       <ul style="list-style: none; margin-top: 20px">
           {% for user in users %}
           <li style="padding: 5px">
           <a id="userpage_link" href="{% url 'myprofile' user.id%}", style=" text-decoration: none ;color: #000000; margin: 10px;">{{user.username}}</a>
           </li>
           <hr style="margin-right: 10%">
             {% endfor %}
            {% endblock %}
           </ul>
       </div>
</div>


