<!DOCTYPE html>
<html lang="en" xmlns:margin-left="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Rød tråd</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>
<body style="background-color:lightblue;">
{% load static%}

<nav class="navbar fixed-top navbar-expand-md bg-light navbar-light">
  <!-- Brand -->
  <a class="" href="{% url 'index' %}"><img src="{% static 'img/knitting.png' %}" width="40" height="40"></a>

  <!-- Toggler/collapsibe Button -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- Navbar links -->
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="{% url 'index' %}">Hjem</a>
      </li>

    </ul>
      <ul class="navbar-nav">
                <li class="nav-item">
        <a class="nav-link" href="{%  url 'register'%}">Registrer</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'login' %}">Logg inn</a>
      </li>
      </ul>
  </div>
</nav>

{% block body %}
{% endblock body %}

</div>
</body>
</html>

