{% extends 'base.html' %}
{% load static %}
{% load get_number_likes %}
{% load get_if_liked %}
{% block body %}
    {% for post in posts %}


<br><br>
<div style="padding-right:30px; padding-left: 30px; padding-top: 30px">
<div style="border-radius: 20px ;margin-top: 20px; max-width: 800px; width: auto; margin-left: auto; margin-right: auto; background-color: white; max-height: fit-content; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">

    <div style="text-align: center">
        <label style="text-align: left">
        <div style="display: block; text-align: center; margin-top: 20px">{{ post.post_owner }}<br><br></div>
        <label style="text-align: left">
        <figure style="display: table">
            <img style="object-fit: cover; max-width:100%; max-height: 420px; display: block; margin-right: auto; margin-left: auto" src="{{ post.image.url }}">
            <figcaption style="display: table-caption; caption-side: bottom; margin-right: auto; margin-left: auto"> {{ post.text }} <br><br>

            <a type="button" class="btn btn-outline-info" href="{% url 'like' post.pk %} " style="width:fit-content; text-align: left" > Liker </a>

            {% if request.user|get_if_liked:post.pk %}
                <img style="width: 28pt" src="/static/img/like.png">
            {% else %}
                <img style="width: 25pt" src="/static/img/unlike.png">
            {% endif %}
            {{ post.pk|get_number_likes }}

            </figcaption>
        </figure>
        </label> <br>
    </div>
</div>
</div>
        <br>


{% endfor %}
{% endblock %}