
#searchButton {
    border-color: #dae7f4;
}

#searchButton:hover {
    background-color: #dae7f4;
    color: white!important;
}

#main {
    background-color: white;
    padding: 80px;
}

body {
    padding-top: 60px;
    background-color: #dae7f4;
}

#logo {
    padding-right: 55px;
    padding-left: 25px;
}

#search {
    margin-left: 24%;
}

#seachInput {
    width: 350px;
}


