.poststyle{
    border-radius: 20px;
    margin-top: 20px;
    max-width: 60%;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    max-height: fit-content;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
